@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 4.5rem;
  background: #222;
  z-index: 100000;
}

.nav h2 {
  color: #fff;
  font-size: 1.7rem;
}

#item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#item li {
  list-style: none;
  padding-right: 50px;
}

#item li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}

#item li a:hover,
#item .icon i:hover {
  color: #ff5733;
  cursor: pointer;
}

#item .icon i {
  color: #fff;
  padding-right: 30px;
}

#bar {
  color: #ff5733;
  font-weight: lighter;
  font-size: 1.5rem;
  display: none;
}

/* .back {
  background-color: #000;
  width: 100%;
  height: 80vh;
  background-size: cover;
  z-index: -1;
}

.back .overlay {
  background: #171819;
  width: 100%;
  height: 100%;
  opacity: 0.5;
} */

/* INTRO */

.wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background: linear-gradient(
    900deg,
    rgba(2, 0, 0.6, 1) 0%,
    rgb(1, 1, 12) 35%,
    rgb(3, 15, 17) 100%
  );
}

/* .wrapper .mid {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins";
  margin: 0;
} */

.wrapper .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.mid p {
  color: #fff;
  font-size: 1.3rem;
}

.mid h2 {
  color: #fff;
  font-size: 3rem;
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

/* ABOUT */

.trainer {
  background: #f9f9f9;
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trainer .about {
  width: 45%;
}

.trainer .about h2 {
  color: #212529;
  font-size: 2.1rem;
  padding-bottom: 1.8rem;
}

.trainer .about h6 {
  color: #7f8c8d;
  font-size: 1.1rem;
}

.trainer .people {
  width: 45%;
}

.trainer .people .team1 {
  height: auto;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1.6px 3.6px rgba(0, 0, 0, 0.1), 0 4.4px 10px rgba(0, 0, 0, 0.15),
    0 10.6px 24.1px rgba(0, 0, 0, 0.02), 0 35px 80px rgba(0, 0, 0, 0.3);
}

.trainer .people .team1 .img img {
  width: 100%;
  object-fit: cover;
}

.trainer .people .team1 .teamDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 0 10px;
}

.trainer .people .team1 .teamDetails i {
  margin-top: 4px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  color: #212529;
}

/* PROJECTS */

.class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.class .paragraph {
  font-size: 1.3rem;
  color: #95a5a6;
  text-align: center;
}

.class .h2 {
  font-size: 2.2rem;
  color: #222;
  font-weight: 700;
  /* padding-bottom: 6px; */
  text-align: center;
  text-decoration: underline;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  top: 100px;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  text-transform: none;
  position: absolute;
  bottom: 22px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.fb {
  color: white;
}

.numbertext {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.dot {
  position: relative;
  top: 33px;
  right: 325px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.3s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Skills */

.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 15rem;
  background-color: #171819;
}

.details h3,
h6 {
  color: #fff;
}

.details .one {
  width: 45%;
}

.details .one h3 {
  font-size: 2.5rem;
  padding-bottom: 1.1rem;
  text-decoration: underline;
}

.details .one h6 {
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 1.2rem;
}

.details .one p {
  color: #666262;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.details .two {
  width: 45%;
  border-left: 1px solid #666262;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details .two h4 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

.details .two h3 {
  font-size: 2.5rem;
  padding-bottom: 1.1rem;
}

.details .two a {
  color: #fff;
  background: #f13a11;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.details .two a:hover {
  background: #fff;
  color: #f13a11;
}

/* Contact and Map */

.contact {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact .form {
  width: 45%;
}

.contact .form h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}

.contact .form .submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact .form .submit input,
.contact .form .submit textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #95a5a6;
  outline: none;
  margin: 13px 0;
}

.contact .form .submit input:focus,
.contact .form .submit textarea:focus {
  border: 1px solid #111;
}

.contact .form .submit input::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
  height: 80%;
}

.contact .form .submit a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  margin: 13px 0;
}

.contact .map {
  width: 45%;
}

.contact .map h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}

.contact .map p {
  font-size: 1.1rem;
  color: #212529;
  padding-bottom: 30px;
  width: 100%;
}

.contact .map p i {
  color: red;
  padding-right: 4px;
}

.contact .map iframe {
  width: 100%;
}

.footer {
  border-top: 1px solid #474d4e;
  padding: 5rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #7f8c8d;
  justify-content: flex-start;
}

.footer p i {
  color: red;
  padding-right: 5px;
}

.footer p a {
  text-decoration: none;
  color: #7f8c8d;
}

.footer p a:hover {
  text-decoration: underline;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Media Query */

@media screen and (max-width: 1042px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .nav {
    padding: 1rem 4.5rem;
  }

  .nav h2 {
    font-size: 1.4rem;
  }

  #item li {
    padding-right: 30px;
  }

  #item li a {
    font-size: 0.9rem;
  }

  #item .icon i {
    padding-right: 20px;
  }

  .mid p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .mid h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 921px) {
  .nav {
    padding: 1rem 3rem;
  }

  .nav h2 {
    font-size: 1.6rem;
  }

  #item {
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 80vh;
    position: fixed;
    top: 0;
    right: -300px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100000;
    margin-top: 4.2rem;
    transition: 0.5s;
  }

  #item li {
    padding-right: 0;
    padding: 4px 0;
  }

  #item li a {
    font-size: 1.2rem;
  }

  #item .icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #item .icon i {
    padding: 0 15px 0 15px;
  }

  #bar {
    display: initial;
    cursor: pointer;
  }

  .mid p {
    margin-bottom: 1rem;
  }

  .mid h2 {
    font-size: 2.1rem;
  }

  .details {
    padding: 6rem 7rem;
  }

  .details .one {
    width: 50%;
  }

  .details .one h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-decoration: underline;
  }

  .details .one p {
    font-size: 1rem;
    padding-bottom: 0.6rem;
  }

  .details .two {
    padding-left: 3.5rem;
  }

  .details .two h4 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .details .two h3 {
    font-size: 2rem;
  }

  .details .two a {
    font-size: 0.9rem;
    margin-bottom: 2.2rem;
  }

  .details .two a:hover {
    background: #fff;
    color: #f13a11;
  }

  .trainer {
    padding: 7rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .trainer .about {
    width: 100%;
  }

  .trainer .about h2 {
    text-align: center;
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
  }

  .trainer .people {
    width: 70%;
    margin-top: 30px;
  }

  .contact {
    padding: 6rem;
  }

  .contact .form h2 {
    font-size: 2rem;
    padding-bottom: 7px;
  }

  .contact .form .submit input,
  .contact .form .submit textarea {
    padding: 12px;
    margin: 10px;
  }

  .contact .form .submit input::placeholder {
    font-size: 1rem;
  }

  .contact .form .submit textarea::placeholder {
    font-size: 1rem;
  }

  .contact .form .submit a {
    padding: 13px 0;
    font-size: 1rem;
    margin: 10px 0;
  }

  .contact .map h2 {
    font-size: 2rem;
    padding-bottom: 7px;
  }

  .contact .map p {
    font-size: 1rem;
    padding-bottom: 20px;
  }

  .footer {
    padding: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .nav h2 {
    font-size: 1.5rem;
  }

  .mid h2 {
    font-size: 1.4rem;
  }

  .details {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details .one {
    width: 70%;
  }

  .details .two {
    padding-left: 0;
    border-left: 0;
    border-top: 1px solid #666262;
    width: 70%;
    margin-top: 1.7rem;
    padding-top: 1.7rem;
  }

  .details .two a {
    font-size: 1rem;
  }

  .details .two a:hover {
    background: #fff;
    color: #f13a11;
  }

  .trainer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .trainer .about {
    width: 70%;
    margin-top: 3rem;
  }

  .trainer .people {
    width: 70%;
    margin-top: 30px;
  }

  .contact {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .form {
    width: 70%;
    margin-bottom: 1.5rem;
  }

  .contact .form h2 {
    font-size: 2.5rem;
    margin-left: 10px;
  }

  .contact .form .submit a {
    margin-left: 10px;
  }

  .contact .map {
    width: 60%;
  }

  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 496px) {
  .mid p {
    margin-bottom: 0.8rem;
  }

  .mid h2 {
    font-size: 1.8rem;
  }

  .details {
    padding: 4rem 1rem;
  }

  .details .one {
    width: 100%;
  }

  .details .two {
    width: 100%;
  }

  .trainer {
    padding: 4rem 1rem;
  }

  .trainer .about {
    width: 100%;
    margin-top: 3rem;
  }

  .trainer .people {
    width: 80%;
  }

  .contact {
    padding: 4rem 1rem;
  }

  .contact .form {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-right: 20px;
  }

  .contact .map {
    width: 100%;
  }

  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .p {
    margin-bottom: 20px;
  }
}
